@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 50%;
}
body{
    font-family: Verdana;
}

.header{
     width: 1540px;
     height: 80px;
     position: sticky;
     top: 0px;
     display: flex;
     justify-content: space-around;
     background-color: white;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
     
     
}

.logo{
    padding: 5px;
    margin-left: 15px;
    margin-top: 5px;
    width:120px;
    height: 60px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.navbar{
    width: 520px;
    height: 80px;
    position: relative;
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    
}

.nav-list  li a{
    text-decoration: none;
    color: #282C3F;
    font-size: 15px;
    
}
.men_pages:hover{
    border-bottom: 3px solid #FF3F6C;
}
.women_pages:hover{
    border-bottom: 3px solid #fb56c1;
}
.kids_pages:hover{
    border-bottom: 3px solid #f26a10;
}
.beauty_pages:hover{
    border-bottom: 3px solid #0db7af;
}
.homeliving_pages:hover{
    border-bottom: 3px solid #f2c210;
}
.studio_page:hover{
    border-bottom: 3px solid #ee5f73;
}



.men_pages_list{
    width:1140px;
    height:450px ;
   
    position: absolute;
    top: 80px;
    left: -100px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s;
    display: flex;
    justify-content: space-between;
}

.men_pages:hover .men_pages_list{
    opacity: 1;
    visibility: visible;


}


.men_pages_list_sec1{
    width: 220px;
    height: 450px;
   
}

.topsec1{
    width: 220px;
    height: 250px;
    
}

.topsec1 h4{
    font-size: 13px;
    color: #ee5f73;
    margin-top: 8px;
}

.topsec1 ul{
    list-style: none;
    margin-top: 8px;

}
.topsec1 li{
    font-size: 13px;
    padding: 3px;
    
}
.topsec1 ul  li a:hover{
     font-size:14px;
     font-weight: bold;
     color: #282C3F;
     
}
.bottomsec1{
    width: 220px;
    height: 199px;
    margin-top: 5px;
   
}
.bottomsec1 h4{
    font-size: 13px;
    color: #ee5f73;
    margin-top: 8px;
}

.bottomsec1 ul{
    list-style: none;
    margin-top: 10px;

}
.bottomsec1 li{
    font-size: 13px;
    padding: 4px;
    
}
.bottomsec1 ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}

.topsec2_men_pages{
    width: 220px;
    height: 200px;
    
    
}

.topsec2_men_pages h4{
    font-size: 13px;
    color: #ee5f73;
    margin-top: 8px;
}
.topsec2_men_pages ul{
    list-style: none;
    margin-top: 10px;

}
.topsec2_men_pages li{
    font-size: 13px;
    padding: 4px;
    
}
.topsec2_men_pages ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}

.midsec2_men_pages{
    width: 220px;
    height: 180px;
   
   

}
.midsec2_men_pages h4{
    font-size: 13px;
    color: #ee5f73;
    margin-top: 8px;
}
.midsec2_men_pages ul{
    list-style: none;
    margin-top: 10px;

}
.midsec2_men_pages li{
    font-size: 13px;
    padding: 4px;
    
}
.midsec2_men_pages ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}
.bottomsec2_men_pages{
    width: 220px;
    
    height: 30px ;
    
}
.bottomsec2_men_pages h4{
    font-size: 13px;
    color: #ee5f73;
    margin-top: 8px;
}

.topsec3_men_page{
    width: 220px;
    height: 250px;
   
}
.topsec3_men_page h4{
    font-size: 13px;
    color: #ee5f73;
    margin-top: 8px;
}
.topsec3_men_page ul{
    list-style: none;
    margin-top: 10px;

    
}
.topsec3_men_page ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}
.topsec3_men_page li{
    font-size: 13px;
    padding: 4px;
    
}
.pointsec3{
    width: 220px;
    height: 30px;
   
}
.pointsec3 h4{
    font-size: 13px;
    color: #ee5f73;
    margin-top: 8px;
}

.topsec4_men_page{
    width: 220px;
    height: 300px;
   
}
.topsec4_men_page h4{
    font-size: 13px;
    color: #ee5f73;
    margin-top: 8px;
}
.topsec4_men_page ul{
    list-style: none;
    margin-top: 10px;

}
.topsec4_men_page li{
    font-size: 13px;
    padding: 6px;
    padding-left: none;
    
}
.topsec4_men_page ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}
.bottomsec4_men_page{
    width: 220px;
    height: 140px;
   
}
.bottomsec4_men_page h4{
    font-size: 13px;
    color: #ee5f73;
    margin-top: 8px;
}
.bottomsec4_men_page ul{
    list-style: none;
    margin-top: 10px;

}
.bottomsec4_men_page li{
    font-size: 13px;
    padding: 5px;
    padding-left: none;    
}
.bottomsec4_men_page ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}


.topsec5_men_page{
    width: 220px;
    height: 360px;
    
}
.topsec5_men_page h4{
    font-size: 13px;
    color: #ee5f73;
    margin-top: 8px;
}
.topsec5_men_page ul{
    list-style: none;
    margin-top: 10px;

}
.topsec5_men_page li{
    font-size: 13px;
    padding: 6px;
    padding-left: none;    
}
.topsec5_men_page ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}

.women_pointsec1{
    width: 220px;
    height: 30px;
   
}
.women_pointsec3 h4{
    font-size: 13px;
    color: #fb56c1;
    margin-top: 8px;
}


/* women section csss start */
.women_page_list{
    width:1140px;
    height:450px ;
   
    position: absolute;
    top: 80px;
    left: -100px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s;
    display: flex;
    justify-content: space-between;
}

.women_pages:hover .women_page_list{
    opacity: 1;
    visibility: visible;
   

}
.women_pages_list_sec1{
    width: 220px;
    height: 450px;
    margin-left: 15px;
}
.topsec1_women_page{
    width: 220px;
    height: 360px;
   
    
}
.topsec1_women_page h4{
    font-size: 13px;
    color: #fb56c1;
    margin-top: 8px;
}
.topsec1_women_page ul{
    list-style: none;
    margin-top: 10px;

}
.topsec1_women_page li{
    font-size: 13px;
    padding: 6px;
    padding-left: none;    
}
.topsec1_women_page ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}

.topsec2_women_page{
    width: 220px;
    height: 400px;
}
.topsec2_women_page h4{
    font-size: 13px;
    color: #fb56c1;
    margin-top: 8px;
}
.topsec2_women_page ul{
    list-style: none;
    margin-top: 10px;

}
.topsec2_women_page li{
    font-size: 13px;
    padding: 6px;
    padding-left: none;    
}
.topsec2_women_page ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}

.topsec3_women_page{
    width: 220px;
    height: 180px;

}
.topsec3_women_page h4{
    font-size: 13px;
    color: #fb56c1;
    margin-top: 8px;
}
.topsec3_women_page ul{
    list-style: none;
    margin-top: 10px;

}
.topsec3_women_page li{
    font-size: 13px;
    padding: 6px;
    padding-left: none;    
}
.topsec3_women_page ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}
.topsec4_women_page{
    width: 220px;
    height: 180px;

}
.topsec4_women_page h4{
    font-size: 13px;
    color: #fb56c1;
    margin-top: 8px;
}
.topsec4_women_page ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 15px;

}
.topsec4_women_page li{
    font-size: 13px;
    padding: 6px;
    padding-left: none; 
      
}
.topsec4_women_page ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}
.bottomsec4_women_page{
    width: 220px;
    height: 180px;

}
.bottomsec4_women_page h4{
    font-size: 13px;
    color: #fb56c1;
    margin-top: 8px;
}
.bottomsec4_women_page ul{
    list-style: none;
    margin-top: 10px;

}
.bottomsec4_women_page li{
    font-size: 13px;
    padding: 6px;
    padding-left: none;    
}
.bottomsec4_women_page ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}
.topsec5_women_page{
    width: 180px;
    height: 150px;

}
.topsec5_women_page h4{
    font-size: 13px;
    color: #fb56c1;
    margin-top: 8px;
}
.topsec5_women_page ul{
    list-style: none;
    margin-top: 10px;
    

}
.topsec5_women_page li{
    font-size: 13px;
    padding: 6px;
    padding-left: none; 
      
}
.topsec5_women_page ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}
.midsec5_women_page{
    width: 180px;
    height: 150px;

}
.midsec5_women_page h4{
    font-size: 13px;
    color: #fb56c1;
    margin-top: 8px;
}
.midsec5_women_page ul{
    list-style: none;
    margin-top: 10px;
   

}
.midsec5_women_page li{
    font-size: 13px;
    padding: 6px;
    padding-left: none; 
      
}
.midsec5_women_page ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}
.kids_pages_list{
    width:1140px;
    height:450px ;
    position: absolute;
    top: 80px;
    left: -100px;
    background-color: white;
    visibility:hidden;
    opacity: 0;
    transition: 0.8s;
    display: flex;
    justify-content: space-between;
}

.kids_pages:hover .kids_pages_list{
    opacity: 1;
    visibility: visible;
    

}
.kids_pages_list_sec1{
    width: 220px;
    height: 450px;
    margin-left: 15px;
}
.topsec1_women_page{
    width: 220px;
    height: 4400px;
   
    
}
.topsec1_kids_page h4{
    font-size: 13px;
    color: #f26a10;
    margin-top: 8px;
}
.topsec1_kids_page ul{
    list-style: none;
    margin-top: 10px;

}
.topsec1_kids_page li{
    font-size: 13px;
    padding: 6px;
    padding-left: none;    
}
.topsec1_kids_page ul  li:hover{
    font-size:14px;
    font-weight: bold;
    color: #282C3F;
    
}
.homeliving_pages_list{
    width:1140px;
    height:450px ;
   
    position: absolute;
    top: 80px;
    left: -100px;
    background-color: white;
    visibility:hidden;
    opacity: 0;
    transition: 0.8s;
    display: flex;
    justify-content: space-between;
}

.homeliving_pages:hover .homeliving_pages_list{
    opacity: 1;
    visibility: visible;
   

}
.beauty_pages_list{
    width:1140px;
    height:450px ;
   
    position: absolute;
    top: 80px;
    left: -100px;
    background-color: white;
    visibility:hidden;
    opacity: 0;
    transition: 0.8s;
    display: flex;
    justify-content: space-between;
}

.beauty_pages:hover .beauty_pages_list{
    opacity: 1;
    visibility: visible;
    



}

.topsec4_beauty_page{
    width: 220px;
    height: 120px;

}
.topsec4_beauty_page h4{
    font-size: 13px;
    margin-top: 5px;
   
   
}
.topsec4_beauty_page ul{
    list-style: none;
    margin-top: 10px;
   

}
.topsec4_beauty_page li{
    font-size: 13px;
    padding: 5px;
     
      
}

.studio_page_nav{
    width:500px;
    height:450px ;
   
    position: absolute;
    top: 80px;
    left: 200px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s;
    
   
}

.studio_page:hover .studio_page_nav{
    opacity: 1;
    visibility: visible;
 
    
}
.studio_logo_div{
    width: 500px;
    height: 45px;
   
    margin-top: 15px;
}

.studio_logo{
    width: 100px;
    height: 45px;
    margin: auto;
    margin-top: 15px;
}

.studio-line{
    width: 500px;
    height: 15px;
    margin-top: none;
    font-size: 14px;
    text-align: center;
    color: #282C3F;
}
.studio_advertisement{
    width: 500px;
    height: 317px;
   
    padding: 8px;
}

.studio_advertisement img{
    width: 100%;
    height: 100%;
}


.explore_btn{
    width: 500px;
    height: 50px;
    
    
}
.explorestudiobtn{
    width: 200px;
    height:40px;
    
    margin-left: 28%;
}
.explorestudiobtn button{
    font-size: 18px;
    width: 200px;
    height: 40px;
    color: #282C3F;
    background-color: white;
    border: 1px solid #282C3F;
    cursor: pointer;
}


.search-bar{
    width: 400px;
    height: 40px;
    position: relative;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.search-bar a{
    text-decoration: none;
    width: 50px;
    height: 40px;
    color: #282C3F;
    background-color: #F5F5F6;
    border: none;
    border-right: 1px solid right;
}

.search-bar a i{
    text-align: center;
    padding: 10px;
    padding-top: 10px;
    
}

input{
    width: 400px;
    height: 40px;
    background-color: #F5F5F6;
    border: none;
    
}
input:hover{
    border: 1px solid #94969F;
}

.action-button{
    width: 200px;
    height: 40px;
    position: relative;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.action1{
    width: 29px;
    height: 60px;

}
.action1:hover{
    border-bottom: 3px solid #FF3F6C;
}

.action1 a{
    width: 24px;
    height: 24px;
    color: #282C3F;
    padding-left:10px ;

}
.action1 p{
    font-family:  Arial, sans-serif;
    padding-top: 3px;
    padding-left: 2px;
    font-size: 15px;
}
.profile_pages_list{
    width:280px;
    height:450px ;
   
    position: absolute;
    top: 64px;
    left: -140px;
    
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s;
   
}
.profile_pages:hover .profile_pages_list{
    opacity: 1;
    visibility: visible;
    left: -140px;
}
.profile_nav_row1{
    width: 280px;
    height: 90px;
   
    margin-top: 10px;
}

.profile_nav_row1 h4{
    font-size: 14px;
    color: #282C3F;
    margin-top: 10px;

}

.profile_nav_row1 p{
    font-size: 13px;
    color: #282C3F;
}

.profile_nav_row1 button{
    width: 110px;
    height: 30px;
    font-size: 12px;
    margin-top: 15px;
    margin-left: 15px;
    color: #FF3F6C;
    font-weight: bold;
    word-spacing: 1px;
    background-color: white;
    border: 1px solid #282C3F;

}

.profile_nav_row2{
    width: 280px;
    height: 160px;
    
    margin-top: 5px;
}

.profile_nav_row2 ul{
    list-style: none;
}
.profile_nav_row2 ul li{
    font-size: 14px;
    color: #282C3F;
    padding: 5px;
}

.section1{
    width: 1540px;
    height: 120px;
    
}

.section1 img{
    width: 100%;
    height: 100%;
}

.section2{
    width: 1540px;
    height: 350px;
    display: flex;
}
.leftside {
    width: 770px;
    height: 350px;
}

.leftside img{
    width: 100%;
    height: 100%;
}
.rightside {
    width: 770px;
    height: 350px;
}

.rightside img{
    width: 100%;
    height: 100%;
}

.section3{
    width: 1540px;
    height: 70px;
   
   
}
.section3 img{
    width: 100%;
    height: 70px;
}

.section4{
    width: 1540px;
    height: 90px;
}
.section4 img{
    width: 100%;
    height: 100%;
}
.section5{
    width: 1540px;
    height: 120px;
    display: flex;

}
.flat100{
    width: 770px;
    height: 120px;

}
.flat100 img{
    width: 100%;
    height: 100%; 
}
.flat200{
    width: 770px;
    height: 120px;

}
.flat200 img{
    width: 100%;
    height: 100%; 
}
.section6{
    width: 1540px;
    height: 120px;
    

}
.section6 img{
    width: 100%;
    height: 100%;
}

.section7{
    width: 1540px;
    height: 230px;
    display: flex;
}
.sec7img{
    width: 192px;
    height: 230px;
   
}

.sec7img img{
    width: 100%;
    height: 100%;
}

.shopcategory{
    width: 1540px;
    height: 100px;
    border-bottom: none;
}


.shopcategory img{
    width: 100%;
    height: 100%;
}

.boyswear{
    width: 1540px;
    height: 250px;
    display: flex;
}
.boyswearimg{
    width: 152px;
    height: 250px;
}
.boyswearimg img{
    width: 100%;
    height: 100%;
}

.girlwear{
    width: 1540px;
    height: 250px;
    margin-top: 30px;
    display: flex;
}

.girlwearimg{
    width: 152px;
    height: 250px;

}
.girlwearimg img{
    width: 100%;
    height: 100%;
}
.beauty-products{
    width: 1540px;
    height: 250px;
    margin-top: 30px;
    display: flex;
}

.beauty-productsimg{
    width: 152px;
    height: 250px;

}
.beauty-productsimg img{
    width: 100%;
    height: 100%;
}




.facecreams{
    width: 1540px;
    height: 250px;
    margin-top: 30px;
    display: flex;
}

.facecreamsimg{
    width: 152px;
    height: 250px;

}
.facecreamsimg img{
    width: 100%;
    height: 100%;
}


.footwear{
    width: 1540px;
    height: 250px;
    margin-top: 30px;
    display: flex;
}

.footwearimg{
    width: 152px;
    height: 250px;

}
.footwearimg img{
    width: 100%;
    height: 100%;
}

.footer1{
    width: 1540px;
    height: 350px;
    border: 10px solid white;
   
    border-bottom: none;
}

.footer1img{
    width: 1540px;
    height: 180px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.footer1img img{
    width: 100%;
    height: 100%;
}

.footer2{
    width: 1540px;
    height: 2400px;
    background-color: #FAFBFC;
    
}

.footer-container{
    width: 1080px;
    height: 2400px;
    margin: auto;
   

}

.row1{
    width: 1080px;
    height:430px;

    display: flex;
    justify-content: space-between;
}

.online-shopping{
    width: 175px;
    height: 430px;
    
}

.online-shopping h3{
    margin-top: 5px;
    font-size: 12px;
    color: #282C3F  ;
}

.online-shoppinglist{
    list-style-type: none;
    margin-top: 5px;

}
.online-shoppinglist li{
    padding: 5px;
    padding-left: none;
   
}

.online-shoppinglist li a{
    text-decoration: none;
    color: #696B79;
    font-size: 13px;
}

.useful-links{
    list-style-type: none;
    margin-top: 5px;
}
.useful-links li{
    padding: 4px;
    padding-left: none;
   
}

.useful-links li a{
    text-decoration: none;
    color: #696B79;
    font-size: 13px;
}

.customer-policies{
    width: 165px;
    height: 300px;
    
}

.customer-policies h3{
    margin-top: 5px;
    font-size: 12px;
    color: #282C3F;
}
.Cusotomerreview-list{
    list-style-type: none;
    margin-top: 8px;

}
.Cusotomerreview-list li{
    padding: 3px;
    padding-left: none;
   
}

.Cusotomerreview-list li a{
    text-decoration: none;
    color: #696B79;
    font-size: 13px;
}

.social-media{
    width: 380px;
    height:180px;
   
}
.social-media h3{
    margin-top: 5px;
    font-size: 10px;
    color: #282C3F;
}
.appstoreimg{
    width: 285px;
    height: 42px;
    
    margin-top: 15px;
    display: flex;
}
.appstoreimg1{
    width: 139px;
    height: 42px;
}
.appstoreimg1 img{
    width: 100%;
    height: 100%;
}
.social-icons{
    width: 285px;
    height: 21px;
    display: flex;
    margin-top: 5px;
}
.social-icons img{
    width: 20px;
    height: 20px;
    margin: 5px;
    

}
.promises{
    width: 255px;
    height: 160px;
    
}

.promise-sec1{
    width: 255px;
    height: 42px;
    display: flex;
    margin-top: 5px;
}
.originalimg{
    width: 48px;
    height: 40px;
    margin-top: 5px;
    
}


.originalimg img{
    width: 100%;
    height: 100%;
}

.line{
    margin-top: 5px;
    width: 210px;
    height:40px ;
    font-size: 13px;
    
}


.row2{
    width: 1080px;
    height: 130px;
   
    margin-top: 10px;
}

.row2 h3{
    font-size: 13px;
    color: #282C3F;
}

.searchlinks{
    width: 1080px;
    height: 100px;
    margin-top: 10px;
    padding: 8px;
    padding-bottom: none;
    word-spacing: 1px;
    font-size: 15px;
    color: #94969F;
    font-family:Arial, Helvetica, sans-serif;
    text-justify: auto;
}

.infosection{
    width: 1080px;
    height: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
   
    display: flex;
    justify-content: space-between;
}

.contatinfo{
    width: 326px;
    height: 20px;
    font-size: 13px;
    color: #282C3F;
}

.copyright{
    width: 326px;
    height: 20px;
    font-size: 13px;
    color: #282C3F;
}
.company{
    width: 145px;
    height: 20px;
    font-size: 13px;
    color: #282C3F;
   
}
hr{
    color: #282C3F;
    opacity: 0.8;
}

.row3{
    width: 1080px;
    height: 200px;
    
    margin-top: 40px;
    display: flex;
    margin-bottom: 20px;
}

.registeroffice{
    width: 756px;
    height: 150px;
}

.registeroffice h3{
    margin-top: 5px;
    font-size: 13px;
    color: #282C3F  ;
}

.registeredlist{
    list-style-type: none;
    margin-top: 15px;

}
.registeredlist li{
    padding: 5px;
    padding-left: none;
   
}

.registeredlist li {
    text-decoration: none;
    color: #94969F;
    font-size: 13px;
}

.contacts{
    width: 324px;
    height: 40px;
  
    margin-top: 160px;
}

.contacts p{
    font-size: 14px;
    color: #94969F;
}

.row4{
    width: 1080px;
    height: 120px;
    padding: 15px;
    padding-left: 0px;
}

.row4 h4{
    font-size: 13px;
    color: #282C3F;
}

.row4 p{
    font-size: 15px;
    color: #94969F;
    margin-top: 10px;
}

.row5{
    width: 1080px;
    height: 800px;

}

.row5 h4{
    margin-top: 5px;
    font-size: 13px;
    color: #282C3F;
}
.row5 p{
    font-size: 15px;
    color: #94969F;
    margin-top: 8px;
}
.row5sec1{
    margin-left: 40px;
    margin-top: 10px;
    width: 1040px;
    height: 650px;
    
}
.row5sec1 ul{
    list-style: none;
}
.row5sec1 li{
    font-size: 15px;
    color: #94969F;
    padding: 5px;
}
.row6{
    width: 1080px;
    height: 110px;
    
}
.row6 h4{
    margin-top: 5px;
    font-size: 13px;
    color: #282C3F;
}
.row6 p{
    font-size: 15px;
    color: #94969F;
    margin-top: 8px;
}